.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  // mobile screen from 480px
  @include mq(mobile) {
    width: 480px;
  }
  // tablet screen
  @include mq(tablet) {
    width: 768px;
  }
  // desktop screen
  @include mq(desktop) {
    width: 1200px;
  }
}
