// ===== Social list =====
.team-soc-list {
  @include centeredFlex();
}

.team-soc-list__item:not(:last-child) {
  display: flex;
  margin-right: 10px;
}

.team-soc-list__link {
  @include centeredFlex();

  width: 44px;
  height: 44px;
  border-radius: 50%;

  outline-color: var(--accent-cl);
  color: var(--icon-color);
  background-color: var(--main-bg-cl);

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--main-bg-cl);
    background-color: var(--accent-cl);
  }
}

.team-soc-list__icon {
  fill: currentColor;
}
// ===== /Social list =====

// ===== Foot social block =====
.foot-soc-block {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-right: 93px;
  }
}

.foot-soc-block__deck {
  margin-bottom: 20px;
  font-family: Roboto;
  @include fonts(700, 14px, 1.14, null);
  color: var(--main-bg-cl);

  @include mq(not-desktop) {
    text-align: center;
  }
}

.foot-soc-block__list {
  @include centeredFlex();
}

.foot-soc-block__item:not(:last-child) {
  margin-right: 10px;
}

.foot-soc-block__link {
  @include centeredFlex();

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--main-bg-cl);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
}

.foot-soc-block__icon {
  fill: currentColor;
}

// ===== Foot social block =====
