/* ====== About section ====== */
.about {
  @include mq(not-desktop) {
    display: none;
  }

  padding-top: 0;

  &__title {
    margin-bottom: 50px;

    text-align: center;
    color: var(--secondary-txt-cl);
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-content {
  position: relative;

  &__deck {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @include fonts(700, null, 1.14, null);
    text-align: center;

    padding-top: 27px;
    padding-bottom: 27px;

    color: var(--main-bg-cl);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
/* ====== /About section ====== */
