/* ====== Advantage section ====== */
.advantag__list {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }

  @include mq(desktop) {
    display: flex;
  }
}

.advantag__item {
  @include mq(mobile-only) {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @include mq(desktop) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantag-wrap {
  @include centeredFlex();
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-cl);

  max-width: 450px;
  height: 120px;

  @include mq(tablet) {
    width: 354px;
  }

  @include mq(desktop) {
    width: 270px;
  }
}

.advantag__subtitle {
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
  @include fonts(700, 14px, 1.14, 0.03em);

  @include mq(mobile-only) {
    text-align: center;
  }
}
/* ====== /Advantage section ====== */
