/* ====== Team section ====== */
.team {
  background-color: var(--secondary-bg-cl);
}

.team__title {
  margin-bottom: 30px;

  text-align: center;
  color: var(--secondary-txt-cl);

  @include mq(desktop) {
    margin-bottom: 50px;
  }
}

.team__list {
  text-align: center;

  @include mq(tablet) {
    display: flex;
  }
  @include mq(tablet-only) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  @include mq(mobile-only) {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @include mq(desktop) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  background-color: var(--main-bg-cl);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;

  @include mq(desktop) {
    padding-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 10px;

    @include fonts(500, 16px, 1.18, 0.03em);

    color: var(--secondary-txt-cl);
  }

  &__deck {
    margin-top: 0;
    margin-bottom: 16px;

    @include fonts(null, 16px, 1.18, null);
  }
}

/* ====== /Team section ====== */
